.SettingsButton {
  background: none;
  border: none;
  position: relative;
  left: 80px;
  bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .SettingsButton {
    left: 30px;
    bottom: 5px;
  }
}
