*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(
    0deg,
    rgb(211, 145, 174) 0%,
    rgb(142, 174, 211) 100%
  );
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.Container {
  width: 500px;
  height: 350px;
  padding: 40px 80px;
  text-align: center;
  background-color: rgba(52, 27, 53, 0.205);
  box-shadow: rgba(117, 68, 98, 0.363) 0px 5px 15px;
  border-radius: 10px;
  color: rgb(250, 250, 250);
  filter: contrast(1.5);
  position: relative;
}

.TimerActive {
  background: linear-gradient(
    -45deg,
    rgb(211, 145, 174) 0%,
    rgba(129, 160, 196, 0.664),
    rgba(207, 174, 189, 0.356),
    rgb(142, 174, 211) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 500px) {
  .Container {
    width: 340px;
    height: auto;
    padding: 20px 40px;
  }
}
