*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgb(211, 145, 174) 0%,
    rgb(142, 174, 211) 100%
  );
  font-family: "Varela Round", sans-serif;
}
