*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Varela Round", sans-serif;
}
